@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    background-color: white;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-box {
    display: flex;
    flex: 0 0 calc(33.33% - 40px);
    max-width: 400px;
    height: 220px;
    background-color: blueviolet;
    border-radius: 2rem;
    margin: 20px;
    justify-content: center;
    align-items: center;
    color: white;
}

#btn-box {
    display: flex;
    flex: 0 0 calc(33.33% - 40px);
    max-width: 400px;
    height: 220px;
    border-radius: 2rem;
    margin: 20px; 
    justify-content: center;
    align-items: center; 
    border: none;
}

#generateBtn {
    width: 300px;
    height: 120px;
    background-color: blue;
    border-radius: 2rem;
    font-size: 25px;
    color: white;
}